@media (prefers-color-scheme: dark) {

    body,
    html {
        background: #333;
        color: white;
    }

    .diversity-block .diversity-text {
        color: white;
    }

    .header-block nav ul li a {
        color: white;
        text-decoration: none;
    }

    p {
        color: white;
    }

    ul {
        color: rgb(255, 8, 8);
    }

    .commitment-1,
    .commitment-2,
    .commitment-3,
    .commitment-4 {
        background-color: orange;
        border: 1px solid #6085cf;
        border-radius: 20px;
        padding: 1em;
        background-color: #333;
    }
    /* tirar um pouco do brilho da imagem, conforme foi feito na tag img: */
    img {
        filter: brightness(0.9);
    }

    /* Collaborators */
    .diversity-policy-block {
        
        background: linear-gradient(208.18deg, #0f1112 9.05%, #1d2126 76.74%);
    }

    .diversity-policy-text button {
        background-color: #1c2022;
        color: white;
    } 

    .collaborator-1,
    .collaborator-2,
    .collaborator-3  {
        background-color: #333;
    }

    .collaborator-1 p,
    .collaborator-2 p,
    .collaborator-3  p{
        color: white;
    }

    .collaborators-button button {
        background-color: #1c2022;
        color: white;
    }



    /* Footer */
    .footer-block {
        background-color: rgb(46, 44, 44); 
    }

    .footer-block div ul li img {

         /* Coloca um filtro branco na imagem*/
        filter: brightness(0) invert(1);
        
    }
    .footer-block div:last-child p:first-child {
        color: white;
    }

    .footer-block div ul li a {
        color: white;
    }
}

@media (prefers-color-scheme: light) {

    body,
    html {
        background: white;
        color: #555;
    }

    .night.light-scheme {
        background: #eee;
        color: black;
    }

    .commitment-1,
    .commitment-2,
    .commitment-3,
    .commitment-4 {
        border: 1px solid #E5E9F6;
        border-radius: 20px;
        padding: 1em;
        background-color: #FFFFFF;
    }
}